@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #D0BCD7;
}

* {
  transition: all 0.3s ease-in-out;
}

.layout {
  max-width: 1400px;
  margin: auto;
  padding: 0 2rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #3E0552;
  border: 1px solid white;
}